<div class="max-w-md mx-auto p-8">
  <% if alert = flash[:alert] %>
    <p class="mb-4 py-2 px-3 bg-red-50 text-red-500 font-medium rounded-md" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="mb-4 py-2 px-3 bg-green-50 text-green-500 font-medium rounded-md" id="notice"><%= notice %></p>
  <% end %>

  <%= form_with url: session_url, local: true do |form| %>
    <div class="mb-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "block w-full px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-blue-600" %>
    </div>

    <div class="mb-5">
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "block w-full px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-blue-600" %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit "Sign In", class: "px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white rounded-md font-medium" %>
      <%= link_to "Forgot password?", new_password_path, class: "text-gray-700 underline text-sm" %>
    </div>
  <% end %>
</div>
